* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Arial', system-ui;
  background: #141414;
  color: white;
}

header {
  background: #141414;
  text-align: center;
  padding: 20px;

header h1 {color: gray;}

header h2 {colr: #bbb;}

main {
  text-align: center;
  padding: 20px;
}

button {
  background: gray;
  color: white;
  padding: 10px;
  cursor: pointer;
}


