* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #333333;
  color: white;
}

header {
  position: relative;
  background: #000000;
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

header h1 { color: #ff9900; }

header p { color: white; }

.logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 140px;
  height: auto;
  cursor: pointer;
}

main {
  text-align: center;
  padding: 20px;
  background: #333333;
}

button {
  background: ##ff9900;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.trip-details {
  background: #666666;
  color: white;
  max-width:1000px;
  margin: 40 px auto;
  padding: 20px;
  border-radius: 10px;
}

form {
  display: grid;
  gap: 10px;
}

footer {
  background: #333333;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  background: #666666;
}
