* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #333333;
  color: white;
}

header {
  position: relative;
  background: #000000;
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

header h1 { color: #f57705; }

header p { color: white; }

.logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 140px;
  height: auto;
  cursor: pointer;
}

main {
  text-align: center;
  padding: 20px;
  background: #333333;
  align-items: center;
}

main p {
  max-width: 1000px;
  margin: 0 auto;
}

button {
  background: #f57705;
  color: #000000;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-family: 'Poppins', sans-serif;
  margin: 20px;
}

.trip-details,
.itinerary-section {
  background: #000000;
  color: white;
  max-width:1000px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

form {
  display: grid;
  gap: 10px;
}

footer {
  background: #333333;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  background: #666666;
}
