* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Arial', system-ui;
  background: #333333;
  color: white;
}

header {
  background: #666666;
  text-align: center;
  padding: 20px;

header h1 {color: orange;}

header p {color: white;}

main {
  text-align: center;
  padding: 20px;
}

button {
  background: #666666;
  color: white;
  padding: 10px;
  cursor: pointer;
}

footer {
  

