* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Arial', system-ui;
  background: #141414;
  color: #e7e7e7;
  line-height: 1.5;
}

.container {
  max-width: 1000px
  margin: 0 auto;
  padding: 16px;
  text-align: centerl;
}
