* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Arial', system-ui;
  background: #141414;
  color: white;
}

header {
  background: #141414;
  text-align: center;
  padding: 20px;
  
.container {
  max-width: 1000px
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}
